{% extends "detail/base.html" %}
{% load staticfiles %}
    
{% block bb %}
    <link rel="stylesheet" href="{% static 'css/11.css' %}">

    <header>
        <div class="img d-flex justify-content-center align-items-center" id="123">
            <div class="">
                <h1>서희수의 페이지</h1>
            </div>
        </div>
    </header>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <footer> 
        <a clsss="name">만든이 : 서희수</a>
        <div class="d-flex justify-content-end">
            <a type="button" class="btn btn-primary" href="#123">up</a>
        </div>
    </footer>
    
{% endblock %}