{% extends "detail/base.html" %}
{% block bb %}
    <div class="container">
        <div class="row">
            
            <div class="card col-4 position-fixed" style="width: 18rem;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZYxW2SzSFnh6UPmFMqM8-Gx5u8hzBZeOYCzf3g_udSnHKz8zE" class="card-img-top rounded-circle" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p>seoheesu@naver.com</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Logout</a>
              </div>
            </div>
            
            <div class="col-8 offset-4">
                <div class="card mb-3">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/J4qMjoEiJAs/maxresdefault.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">작성글</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">더보기</a>
                  </div>
                </div>
                
                <div class="card mb-3">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/c1BQOy9Iv78/maxresdefault.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">작성글</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">더보기</a>
                  </div>
                </div>
                
                <div class="card mb-3">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/Zyo8_1u37nA/maxresdefault.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">작성글</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">더보기</a>
                  </div>
                </div>
                
                <div class="card mb-3">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/opVVVNvbqC8/maxresdefault.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">작성글</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">더보기</a>
                  </div>
                </div>
                
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            
            
        </div>
    </div>
    
{% endblock %}